* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bdc3c7;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100%;
  border-bottom: 8px solid #f39c12;
}
header {
  /* background-color: #7f8c8d; */
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  padding: 10px;
}
main {
  background-color: #ecf0f1;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.scrollable {
  margin: 0 auto;
  height: 100%;
}
h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: #f39c12;
}

.logos {
  justify-content: flex-end;

}
.ionicon {
  stroke: #f39c12;
  height: 50px;
  width: 50px;
}

/* footer {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
} */
a:link, a:visited {
  cursor: pointer;
  color: #2c3e50;
  text-decoration: underline;
}
a:hover {
  color: #f39c12;
  text-decoration: none;
}
a:active {
  color: #c0392b;
  text-decoration: none;
}
/* invert colors */
.logos a:hover {
  -webkit-filter: invert(100%);
}
ul {
  list-style-position: inside;
  padding: 10px;
}
h6 {
    color: #f39c12;
}
.hyphen {
  text-align: center;
}
/* https://flatuicolors.com/palette/defo */
