body {
  background-attachment: fixed;
  background-image: url('https://unblast.com/wp-content/uploads/2020/05/Light-Wood-Background-Texture-1536x1024.jpg');
  background-color: #eeede7;
  opacity: 0.9;
}
header {
  color: #868b8e;
  font-family: Cambria, Georgia, serif;
  font-size: 1.2em;
  text-align: center;
}
main {
  color: #868b8e;
  background-color: #eeede7;
  font-family: Calibri, sans-serif;
  margin: 2em;
  padding: 1em;
  text-align: center;
}
nav {
	font-family: Lucida, "Times New Roman", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
  color: 	#708d60;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #a9cc98;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
  display: inline;
}
/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #708d60;
	text-decoration: none;
}
main div img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* habitar urbano color palette: https://www.color-hex.com/color-palette/97742 */
