body {
  background-color: #f6e2ba;
}
h1 {
  text-align: center;
  color: #779ba1;
  font-family: Georgia, serif;
}
main {
  color: #897a74;
  font-family: Helvetica, sans-serif;
  padding: 10px 140px 10px 140px;
}
main a {
  color: #5588C6;
}
main a:hover {
  color: #165E79;
}
main a:visited {
  color: #8D52A9;
}
.row {
  clear: both;
}
.column {
  width: 50%;
  float: left;
}
nav {
	font-family: Calibri, serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
  color: 	#708d60;
  padding: 0.8em;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: #a9cc98;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
  display: inline;
}
/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #708d60;
	text-decoration: none;
}
nav li a:hover {
  color: #DBDEE1;
}
#links {
  text-align: right;
}
#links li {
  list-style-type: none; /* no bullets in list */
}
footer {
  text-align: center;
  color: #404640;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
/* calming blue and orange color palette: https://www.color-hex.com/color-palette/99472 */
