body {
  background-color: lightgray;

}
main div {
  align: center;
}
nav {
	font-family: Lucida, "Times New Roman", sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color: navy;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
  display: inline;
}
/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
div links {
  text-align: right;
}
div links ul li {
  list-style-type: none;
}
footer {
  text-align: center;
}
